.calendar-wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 15px;
  direction: rtl; 
}

.grid-header {
  text-align: center;
  font-weight: 600;
  padding: 8px;
  color: #1e1e1ea9; 
  border-bottom: 2px solid #eee; 
  background-color: #5555553f;
  border-radius: 10px;
  font-size: 0.9rem;
}

h1 {
  text-align: center;
  color: #333;
  font-weight: 300; 
  margin-bottom: 10px;
}

.not-current-month {
    opacity: 0.5;
    background-color: #f9f9f9;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 10px;
}

.calendar-header button {
    padding: 8px 15px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: background 0.2s;
}

.calendar-header button:hover {
    background-color: #e0e0e0;
}